<head>
    <link rel="stylesheet" href="/src/public/css/style.css">
</head>
<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mt-5 mb-5">Links Favoritos</h1>
            <h3 class="mt-3 mb-5">
                <em>Almacene los enlaces de su sitio web favorito</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                ¡Empecemos!
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>
